@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif+JP&family=Zen+Kaku+Gothic+New:wght@400;500;700;900&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
}
header .logo {
  margin-left: 20px;
  width: 20%;
}
header .logo__img {
  width: 70%;
  margin-top: 10px;
  margin-left: 50px;
}

.forest__nav {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 10%;
}
.forest__nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.forest__nav__item__link {
  color: #fff;
  margin-right: 80px;
  font: normal 16px/1 "Noto Serif JP";
}

.forest__nav__toggle {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forest__nav__toggle__ham {
  cursor: pointer;
  display: none;
  font-size: 20px;
  border: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .forest__nav__list {
    display: none;
  }
  .forest__nav__toggle {
    border: 3px solid blue;
    right: 4vw;
    display: block;
  }
  .forest__nav__toggle__ham {
    border: 3px solid blue;
    display: block;
  }
}
body .forest__main {
  width: 100%;
  height: 100vh;
  background-image: url(img/pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body .forest__main__scroll {
  display: flex;
  justify-content: center;
  color: #fff;
  width: 10px;
  height: 150px;
  border: 1px solid yellow;
  position: absolute;
  right: 7%;
  bottom: 7%;
}
@media screen and (max-width: 1024px) {
  body .forest__main {
    right: 4vw;
    flex-wrap: wrap;
  }
}
body .forest__what-is {
  width: 100%;
  background-image: url(img/vision-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
body .forest__what-is .forest__container {
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  column-gap: 3rem;
}
body .forest__what-is__text {
  width: 50%;
  color: #fff;
}
body .forest__what-is__text::before {
  content: "";
  display: block;
  padding-left: 10px;
  width: 50px;
  height: 1px;
  background: #fff;
  position: absolute;
  margin-top: 10px;
  margin-right: 20px;
}
body .forest__what-is__text span {
  color: white;
  margin-left: 70px;
}
body .forest__what-is__text h2 {
  color: #fff;
  margin-top: 50px;
  font: bold 30px/1.3 "";
}
body .forest__what-is__text p {
  margin-top: 50px;
  font: normal 15px/2 "Noto Serif JP";
}
body .forest__what-is__image {
  width: 771px;
}
body .forest__what-is__image__img {
  width: 100%;
  margin: 44px 0px 44px 70px;
}
@media screen and (max-width: 1024px) {
  body .forest__what-is .forest__what-is__text {
    width: 1000px;
    padding: 60px;
  }
  body .forest__what-is .forest__what-is__image {
    margin-right: 45px;
  }
  body .forest__what-is .forest__what-is__image__img {
    width: 80%;
  }
}
body .forest__features {
  width: 100%;
  background-image: url(img/features-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: inline-block;
}
body .forest__features__box {
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
  padding-top: 100px;
  margin-bottom: 60px;
}
body .forest__features__box::before {
  content: "";
  display: block;
  padding-left: 10px;
  width: 50px;
  height: 1px;
  background: #fff;
  position: absolute;
  margin-top: 10px;
  margin-right: 20px;
}
body .forest__features__box span {
  color: white;
  margin-left: 70px;
}
body .forest__features__box h2 {
  color: #fff;
  margin-top: 50px;
  font: bold 30px/1.3 "";
}
body .forest__features__header {
  margin-bottom: 60px;
}
body .forest__features__container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row-reverse;
}
body .forest__features__container:nth-of-type(2) .forest__features__contents {
  flex-direction: row-reverse;
}
body .forest__features__container:nth-of-type(2) .forest__features__contents .forest__features__contents__img {
  padding-left: 50px;
}
body .forest__features__container:nth-of-type(2) .forest__features__contents .forest__features__contents__img .forest__features__contents__image {
  object-fit: contain;
  position: relative;
  top: 0px;
}
body .forest__features__contents {
  display: flex;
  position: relative;
  padding-bottom: 50px;
}
body .forest__features__contents__img {
  width: 100%;
}
body .forest__features__contents__image {
  width: 100%;
  padding-right: 50px;
}
body .forest__features__text__inner__header {
  font: normal 16px/2 "Noto Serif JP";
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
}
body .forest__features__text__inner__header__number {
  width: 100%;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 140px;
  border-right: 1px solid #fff;
}
body .forest__features__text__inner__title {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}
body .forest__features__text__inner__contents {
  padding: 20px;
  font: normal 14px/2 "Noto Serif JP";
}
body .forest__features__text__inner__image {
  display: flex;
}
body .forest__features__text__inner__image img {
  margin: 70px;
  width: 300px;
}
@media screen and (max-width: 1024px) {
  body .forest__features .forest__features__box {
    padding: 60px;
    margin-bottom: 0px;
  }
  body .forest__features .forest__features__container:nth-of-type(2) .forest__features__contents {
    flex-direction: column;
  }
  body .forest__features .forest__features__container:nth-of-type(2) .forest__features__contents .forest__features__contents__img {
    padding-left: 0px;
  }
  body .forest__features .forest__features__contents {
    flex-direction: column;
  }
  body .forest__features .forest__features__contents__image {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 30px;
  }
  body .forest__features .forest__features__text__inner__header__number {
    padding-right: 80px;
  }
  body .forest__features .forest__features__text__inner__image.reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  body .forest__features .forest__features__text__inner__image img {
    margin: 0px;
    padding: 30px 0px;
  }
}
body .forest__introduction {
  width: 100%;
  background: #fff;
  color: #3e3e3e;
  position: relative;
  display: inline-block;
}
body .forest__introduction .forest__container {
  padding-top: 100px;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  column-gap: 3rem;
}
body .forest__introduction .forest__container::before {
  content: "";
  display: block;
  padding-left: 10px;
  width: 50px;
  height: 1px;
  background: #3e3e3e;
  position: absolute;
  margin-top: -90px;
  margin-right: 20px;
}
body .forest__introduction .forest__container span {
  color: #3e3e3e;
  margin-left: 70px;
}
body .forest__introduction .forest__container h2 {
  color: #3e3e3e;
  margin-top: 50px;
}
body .forest__introduction__wrap {
  padding: 120px;
}
body .forest__introduction__contents {
  display: flex;
  margin-bottom: 70px;
  padding-bottom: 60px;
}
body .forest__introduction__contents.reverse {
  flex-direction: row-reverse;
}
body .forest__introduction__contents.reverse img {
  margin-left: 100px;
}
body .forest__introduction__contents img {
  width: 40%;
}
body .forest__introduction__contents__box {
  padding-left: 30px;
  font: normal 16px/2 "Noto Serif JP";
}
body .forest__introduction__contents__box .forest__introduction__contents__text__title {
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e;
  padding: 20px;
}
body .forest__introduction__contents__box .forest__introduction__contents__text__contents {
  padding: 20px;
}
body .forest__introduction__contents__box .forest__introduction__contents__text__contents h3 {
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  body .forest__introduction .forest__container {
    padding: 20px;
  }
  body .forest__introduction .forest__introduction__wrap {
    padding: 60px;
  }
  body .forest__introduction .forest__introduction__wrap .forest__introduction__contents {
    flex-direction: column;
    margin-bottom: 0px;
  }
  body .forest__introduction .forest__introduction__wrap .forest__introduction__contents img {
    width: 100%;
  }
  body .forest__introduction .forest__introduction__wrap .forest__introduction__contents.reverse img {
    margin-left: 0px;
  }
  body .forest__introduction .forest__introduction__wrap .forest__introduction__contents__box {
    margin-top: 30px;
    padding-left: 0px;
  }
}
body .forest__works {
  width: 100%;
  height: 130vh;
  background-image: url(img/access-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
body .forest__works .forest__container {
  padding-top: 100px;
  max-width: 1200px;
  margin: 50px auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  margin-bottom: 100px;
}
body .forest__works .forest__container::before {
  content: "";
  display: block;
  padding-left: 10px;
  width: 50px;
  height: 1px;
  background: #fff;
  position: absolute;
  margin-top: -146px;
  margin-right: 20px;
}
body .forest__works .forest__container span {
  color: white;
  margin-left: 70px;
}
body .forest__works .forest__container h2 {
  color: #fff;
  margin-top: 50px;
}
body .forest__works .section-works__slider-wrap {
  margin: 0px auto;
  position: relative;
}
body .forest__works .section-works__slider {
  display: none;
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}
body .forest__works .section-works__slider.slick-initialized {
  display: block;
}
body .forest__works .section-works__slider .slide-arrow {
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 56px;
  height: 56px;
  cursor: pointer;
  z-index: 999;
}
body .forest__works .section-works__slider .slide-arrow.next-arrow {
  right: calc((100% - 1070px) / 2);
  background: url(img/icon_arw_next.svg) no-repeat center center/contain;
}
body .forest__works .section-works__slider .slide-arrow.prev-arrow {
  right: calc((100% - 920px) / 2);
  background: url(img/icon_arw_prev.svg) no-repeat center center/contain;
}
body .forest__works .section-works__slider .slide-arrow.slick-disabled {
  opacity: 0.5;
}
body .forest__works .section-works__slider__dots {
  display: flex;
  margin: 120px auto 0;
  width: 100%;
  max-width: 950px;
  transform: translateX(-100px);
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
}
body .forest__works .section-works__slider__dots li {
  text-indent: -9999px;
  width: 100%;
  height: 2px;
  pointer-events: none;
}
body .forest__works .section-works__slider__dots li > div {
  display: flex;
  background: #999;
  transition: transform 0.5s ease;
  overflow: hidden;
  height: 100%;
  transform: scaleX(1) translate3d(0, 0, 0);
  transform-origin: right;
}
body .forest__works .section-works__slider__dots li > div.slick-active {
  transform: scaleX(0) translate3d(0, 0, 0);
}
body .forest__works .section-works__slider__dots__num.no-transition {
  transition: none;
}
body .forest__works .section-works__slider__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 450px;
  display: inline-block;
  overflow: hidden;
  margin-left: 30px;
  object-fit: cover;
  padding-top: 80px;
  margin-left: 200px;
  opacity: 0.5;
}
body .forest__works .section-works__slider__item.slick-slide {
  transition: 0.5s;
}
body .forest__works .section-works__slider__item.slick-slide.slick-current {
  transform: scale(1.3);
  opacity: 1.4;
}
body .forest__works .section-works__slider__item__img > img {
  color: #fff;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  body .forest__works .forest__container {
    padding: 60px;
  }
  body .forest__works .section-works__slider .slide-arrow.next-arrow {
    right: calc((100% - 750px) / 2);
    background: url(img/icon_arw_next.svg) no-repeat center center/contain;
  }
  body .forest__works .section-works__slider .slide-arrow.prev-arrow {
    right: calc((100% - 600px) / 2);
    background: url(img/icon_arw_prev.svg) no-repeat center center/contain;
  }
  body .forest__works .section-works__slider {
    width: 70%;
  }
  body .forest__works .section-works__slider__dots {
    width: 90%;
    padding-left: px;
  }
}
body .forest__company {
  background-color: #343c3a;
  width: 100%;
  height: 80%;
  display: inline-block;
}
body .forest__company__container {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
  margin-bottom: 100px;
}
body .forest__company__header {
  padding-bottom: 50px;
}
body .forest__company__header::before {
  content: "";
  display: block;
  padding-left: 10px;
  width: 50px;
  height: 1px;
  background: #fff;
  position: absolute;
  margin-top: 10px;
  margin-right: 20px;
}
body .forest__company__header span {
  color: white;
  margin-left: 70px;
}
body .forest__company__header h2 {
  color: #fff;
  margin-top: 50px;
}
body .forest__company__table {
  width: 100%;
  border-top: 1px solid #fff;
}
body .forest__company__table__row {
  display: flex;
  border-bottom: 1px solid #fff;
  color: #fff;
  font: normal 17px/2 "Noto Serif JP";
}
body .forest__company__table__row__title {
  padding: 20px;
  width: 150px;
}
body .forest__company__table__row__contents {
  padding: 20px;
}
@media screen and (max-width: 1024px) {
  body .forest__company .forest__company__container {
    padding: 60px;
    margin-bottom: 0px;
  }
}
body .forest__staff {
  background-color: #343c3a;
  width: 100%;
  height: 80%;
}
body .forest__staff__container {
  padding-top: 40px;
  padding-bottom: 100px;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
body .forest__staff__header {
  padding-bottom: 50px;
}
body .forest__staff__header::before {
  content: "";
  display: block;
  padding-left: 10px;
  width: 50px;
  height: 1px;
  background: #fff;
  position: absolute;
  margin-top: 10px;
  margin-right: 20px;
}
body .forest__staff__header span {
  color: #fff;
  margin-left: 70px;
}
body .forest__staff__header h2 {
  color: #fff;
  margin-top: 50px;
}
body .forest__staff__wrapper {
  display: flex;
  justify-content: space-between;
}
body .forest__staff__post__pic img {
  width: 300px;
  height: 350px;
  object-fit: cover;
}
body .forest__staff__post__txt {
  color: #fff;
  font: normal 14px/2 "Noto Serif JP";
  padding-top: 20px;
}
body .forest__staff__post__txt h4 {
  font: bold 16px/2 "Noto Serif JP";
}
body .forest__staff__post__txt p {
  color: #999;
}
body .forest__staff__post__txt {
  font: normal 17px/2 "Noto Serif JP";
}
@media screen and (max-width: 1024px) {
  body .forest__staff .forest__staff__container {
    padding: 60px;
  }
  body .forest__staff .forest__staff__wrapper {
    display: flex;
    overflow: hidden;
    padding-right: 20px;
  }
  body .forest__staff .forest__staff__post {
    margin-left: 20px;
    object-fit: cover;
  }
  body .forest__staff .forest__staff__post__pic__img {
    width: 100%;
  }
}
body .forest__access {
  width: 100%;
  height: 750px;
  background-image: url(img/access-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
body .forest__access__container {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .forest__access__container__map {
  width: 100%;
  height: 750px;
}
body .forest__access__container__txt {
  margin-left: 20px;
  padding: 64px 0 64px 80px;
}
body .forest__access__container__txt__header {
  padding-bottom: 50px;
  margin-top: 30px;
}
body .forest__access__container__txt__header::before {
  content: "";
  display: block;
  padding-left: 10px;
  width: 50px;
  height: 1px;
  background: #fff;
  position: absolute;
  margin-top: 10px;
  margin-right: 20px;
}
body .forest__access__container__txt__header span {
  color: #fff;
  margin-left: 70px;
}
body .forest__access__container__txt__header h2 {
  color: #fff;
  margin-top: 50px;
}
body .forest__access__container__txt p {
  font: normal 14px/2 "Noto Serif JP";
}
body .forest__access__container__txt__img {
  margin-top: 20px;
  width: 400px;
}
@media screen and (max-width: 1024px) {
  body .forest__access .forest__access__container__txt {
    padding: 30px;
  }
}
body .forest__footer {
  background-color: #eeeeee;
}
body .forest__footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
body .forest__footer__logo {
  margin-right: 200px;
}
body .forest__footer__logo__img {
  width: 200px;
}
body .forest__footer__nav {
  display: flex;
  align-items: center;
  padding-left: 10%;
  margin-left: 50px;
}
body .forest__footer__nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
body .forest__footer__nav__item {
  margin-left: 20px;
}
body .forest__footer__nav__item a {
  font: bold 16px/2 "Noto Serif JP";
  color: #343c3a;
}
body .forest__footer .forest__footer__copy {
  margin-top: 80px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 16px/2 "Noto Serif JP";
  color: #343c3a;
}
@media screen and (max-width: 1024px) {
  body .forest__footer__container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .forest__footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  body .forest__footer__nav {
    margin-top: 50px;
    padding-left: 0px;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=forest.css.map */
