@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif+JP&family=Zen+Kaku+Gothic+New:wght@400;500;700;900&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 640px) {
    z-index: 5;
  }

  .logo {
    margin-left: 20px;
    max-width: 100%;
    &__img {
      width: 210px;
      margin-top: 10px;
      margin-left: 50px;
    }
  }
}

.forest__nav {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 10%;

  @media screen and (max-width: 1024px) {
    width: 100%;
    height: 100%;
    position: fixed;
    right: -100%;
    background: rgba(0, 0, 0, .6);
    align-items: center;
    justify-content: center;

    &.show {
          right: 0 !important;
    }
  }

  @media screen and (max-width: 640px) {
    background: rgba(0, 0, 0, .6);

    &.show {
          right: 0 !important;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 1024px) {
      //display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    @media screen and (max-width: 1024px) {
      padding-bottom: 5%;
    }

    &__link {
      color: #fff;
      margin-right: 80px;
      font-family: Noto Serif JP;
      font-size: 16px;
      font-weight: normal;
      @media screen and (max-width: 1024px) {
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

.forest__nav__toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    // right: 4vw;
    // display: block;
    width: 80px;
    height: 80px;
    span {
      position: absolute;
      height: 2px;
      background: #fff;
      width: 50px;
      margin-bottom: 10px;
    }
    span:nth-last-child(2){
      height: 2px;
      background: #fff;
      width: 50px;
      margin-bottom: 30px;
    }
  
    span:nth-last-child(3){
      height: 2px;
      background: #fff;
      width: 50px;
      margin-bottom: 50px;
    }

    .ham-menu-text {
      top: 13px;
      position: relative;
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-family: Noto Serif JP;
          font-size: 16px;
          font-weight: normal;
        }
    
        .menu {
        }
    
        .close {
          display: none;
        }
    }
  }

  &__ham {
    cursor: pointer;
    display: none;
    font-size: 20px;
    //border: 1px solid red;


@media screen and (max-width: 1024px) {
  display: block;
  width: 100px;
  margin-top: -5%;
}
  }
}

body {
  //main
  .forest__main {
    width: 100%;
    height: 100vh;
    background-image: url(img/pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 1024px) {
      right: 4vw;
      flex-wrap: wrap;
    }

    &__scroll {
      display: flex;
      justify-content: center;
      color: #fff;
      width: 10px;
      height: 150px;
      border: 1px solid yellow;
      position: absolute;
      right: 7%;
      bottom: 7%;
    }
  }

  //what is
  .forest__what-is {
    width: 100%;
    background-image: url(img/vision-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
    overflow: hidden;

    .forest__container {
      padding: 3% 0;
      max-width: 1200px;
      margin: auto;
      display: flex;
      align-items: center;
      column-gap: 3rem;

      @media screen and (max-width: 1024px) {
        padding: 8% 4%;
      }

      @media screen and (max-width: 768px) {
        padding: 8% 3%;
        gap: 0;
      }

      @media screen and (max-width: 640px) {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
      }
    }

    &__text {
      width: 50%;
      color: #fff;

      @media screen and (max-width: 1024px) {
        padding-left: 0%;
      }

      @media screen and (max-width: 640px) {
        padding: 0px;
        width: 100%;
        text-align: left;
        position: relative;
        z-index: 1;
      }

      @media screen and (max-width: 425px) {
        padding: 3% 0px;
      }

      &::before {
        content: "";
        display: block;
        padding-left: 10px;
        width: 50px;
        height: 1px;
        background: #fff;
        position: absolute;
        margin-top: 10px;
        margin-right: 20px;
      }

      span {
        color: white;
        margin-left: 70px;
      }

      h2 {
        color: #fff;
        margin-top: 50px;
        font-family: Noto Serif JP;
        font-size: 32px;
        font-weight: normal;

        @media screen and (max-width: 768px) {
          font-size: 28px;
        }

        @media screen and (max-width: 425px) {
          font-size: 18px;
        }
      }

      p {
        margin-top: 50px;
        font-family: Noto Serif JP;
        font-size: 16px;
        font-weight: normal;
        line-height: 2;

        @media screen and (max-width: 768px) {
          font-size: 14px;
        }

        @media screen and (max-width: 425px) {
          font-size: 12px;
        }
      }
    }

    &__image {
      width: calc(50% + 200px);
      margin-right: -200px;



      @media screen and (max-width: 1024px) {
        //margin-right: 45px;
      }

      @media screen and (max-width: 640px) {
        width: 100%;
        position: relative;
      }

      &__img {
        width: 100%;
        padding: 4%;

        @media screen and (max-width: 1024px) {
          width: 80%;
        }

        @media screen and (max-width: 640px) {
          top: 0;
          left: 0;
          position: absolute;
          z-index: 0;
          opacity: .5;
        }
      }
    }
  }

  //Features
  .forest__features {
    width: 100%;
    background-image: url(img/features-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;

    &__box {
      max-width: 1200px;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      column-gap: 3rem;
      padding-top: 100px;
      margin-bottom: 60px;

      @media screen and (max-width: 1024px) {
        padding: 3%;
        margin-bottom: 0px;
      }

      @media screen and (max-width: 640px) {
        padding: 3%;
      }

      &::before {
        content: "";
        display: block;
        padding-left: 10px;
        width: 50px;
        height: 1px;
        background: #fff;
        position: absolute;
        margin-top: 10px;
        margin-right: 20px;
        @media screen and (max-width: 425px) {
          margin-top: 15px;
        }
      

      }

      span {
        color: white;
        margin-left: 70px;

        @media screen and (max-width: 425px) {
          font-size: 16px;
        }
      }

      h2 {
        color: #fff;
        margin-top: 30px;
        font-family: Noto Serif JP;
        font-size: 32px;
        font-weight: normal;

        @media screen and (max-width: 425px) {
          font-size: 18px;
        }
      }
    }

    &__header {
      margin-bottom: 60px;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }

      @media screen and (max-width: 425px) {
        margin-bottom: 3%;
      }
    }

    &__container {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      flex-direction: row-reverse;

      @media screen and (max-width: 640px) {
        position: relative;
      }

      &:nth-of-type(2) {
        .forest__features__contents {
          flex-direction: row-reverse;

          @media screen and (max-width: 1024px) {
            //flex-direction: column;
          }

          @media screen and (max-width: 768px) {
            flex-direction: column;
          }

          .forest__features__contents__img {

            @media screen and (max-width: 1024px) {
              padding-left: 0px;
            }

            .forest__features__contents__image {
              object-fit: cover;
              position: relative;
              top: 0px;
              margin-left: 360px;

              @media screen and (max-width: 768px) {
                margin-left: 0px;
              }
            }
          }

          .forest__features__contents__text {
            width: 53%;
            margin-right: 40px;
            padding: 0px;
            padding-right: 30px;

            @media screen and (max-width: 768px) {
              width: 100%;
              padding-right: 0;
            }

            &.reverse {
              margin-left: -100px;

              @media screen and (max-width: 768px) {
                margin-left: 0;
              }
            }

            // width: calc(60% - 360px);
            // margin-right: 360px;
          }
        }
      }
    }

    &__contents {
      display: flex;
      position: relative;
      padding-bottom: 50px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      &__img {
        width: 50%;
        width: calc(40% + 360px);
        margin-left: -360px;

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-left: 0;
        }
      }

      &__image {
        width: 100%;

        @media screen and (max-width: 1024px) {
          width: 100%;
          padding-right: 0px;
          margin-bottom: 30px;
        }

        @media screen and (max-width: 640px) {
          z-index: 3;
          position: relative;
        }

        @media screen and (max-width: 425px) {
          margin-bottom: 3%;
        }
      }

      &__text {
        width: 60%;
        margin-left: 50px;

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-left: 0;
        }

        @media screen and (max-width: 640px) {
          position: relative;
          z-index: 2;
        }
      }
    }

    &__text__inner {
      padding-left: 13%;

      @media screen and (max-width: 1024px) {
        padding-left: 0%;
      }

      &__header {
        font-family: Noto Serif JP;
        font-size: 24px;
        font-weight: normal;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;

        &__number {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          margin-bottom: 10px;

          @media screen and (max-width: 1024px) {
            // padding-right: 80px;
          }

          @media screen and (max-width: 640px) {
            padding-right: 0;
          }

          @media screen and (max-width: 425px) {
            padding-right: 4%;
            font-size: 18px;
          }
        }
      }

      &__title {
        width: 100%;
        display: flex;
        align-items: center;
        border-left: 1px solid #fff;
        margin-left: 35px;
        padding: 20px 20px 30px 30px;

        @media screen and (max-width: 640px) {
          width: 100%;
        }

        @media screen and (max-width: 425px) {
          margin-left: 0;
          width: 100%;
          font-size: 16px;
          padding: 3% 3% 3% 3%;
        }
      }

      &__contents {
        padding-top: 5%;
        font-family: Noto Serif JP;
        font-size: 16px;
        font-weight: normal;
        line-height: 2;

        @media screen and (max-width: 1024px) {
          font-size: 16px;
        }

        @media screen and (max-width: 768px) {
          font-size: 16px;
          flex-direction: column;
        }

        @media screen and (max-width: 640px) {
          font-size: 14px;
        }

        @media screen and (max-width: 425px) {
          font-size: 12px;
        }
      }

      &__image {

        display: flex;
        justify-content: flex-end;

        &.reverse {
          justify-content: flex-start;


          @media screen and (max-width: 1024px) {
            display: flex;

            img {
              margin: 0px;
              padding: 30px 0px;
            }
          }

          @media screen and (max-width: 768px) {
            justify-content: flex-end;
          }


        }

        img {
          width: 60%;
          justify-content: flex-end;
          padding: 20% 0;

          @media screen and (max-width: 768px) {
            padding: 4% 0;
          }

          @media screen and (max-width: 640px) {
            position: absolute;
            bottom: 100px;
            opacity: .4;
            width: 100%;
            z-index: -1;

          }
        }
      }
    }
  }

  //Business Introduction
  .forest__introduction {
    width: 100%;
    background: #fff;
    color: #3e3e3e;
    position: relative;
    overflow: hidden;

    .forest__container {
      padding-top: 100px;
      max-width: 1200px;
      margin: auto;
      justify-content: space-between;
      display: flex;
      align-items: center;
      column-gap: 3rem;

      @media screen and (max-width: 1024px) {
        margin-bottom: -3%;
        padding: 3%;
      }

      &::before {
        content: "";
        display: block;
        padding-left: 10px;
        width: 50px;
        height: 1px;
        background: #3e3e3e;
        position: absolute;
        margin-top: -100px;
        margin-right: 20px;
        @media screen and (max-width: 625px) {
          margin-top: -90px;
        }

        @media screen and (max-width: 425px) {
          margin-top: -60px;
        }
      }

      span {
        color: #3e3e3e;
        margin-left: 70px;
      }

      h2 {
        font-weight: normal;
        color: #3e3e3e;
        margin-top: 30px;
        font-family: Noto Serif JP;
        font-size: 32px;
        padding-bottom: 30px;

        @media screen and (max-width: 425px) {
          font-size: 18px;
          padding-bottom: 0;
        }
      }
    }

    &__wrap {
      max-width: 1200px;
      margin: 0 auto;
      font-size: 16px;
      font-family: "Noto Serif JP";
      line-height: 2;

      @media screen and (max-width: 1024px) {
        padding: 3%;
      }

      @media screen and (max-width: 640px) {
        padding: 3%;
      }
    }

    &__contents {
      display: flex;
      padding-bottom: 5%;
      width: 100%;
      margin-bottom: 8%;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        ;
      }

      &__img {
        width: calc(40% + 360px);
        margin-left: -360px;
        //padding-right: 5%;

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-left: 0;
          padding-bottom: 10px;
        }
      }

      &__box {
        width: 70%;

      }

      &__text__title {
        margin-bottom: 50px;
        font-size: 24px;
        @media screen and (max-width: 425px) {
          margin-bottom: 5%;
        }
      }

      @media screen and (max-width: 1024px) {

        margin-bottom: 0px;

        &__box {
          .forest__introduction__contents__text__title {
            border-top: 1px solid #3e3e3e;
            border-bottom: 1px solid #3e3e3e;
            padding: 20px;
            @media screen and (max-width: 425px) {
              padding: 3%;
              font-size: 18px;
            }
            
          }

          .forest__introduction__contents__text__contents {

            h3 {}
          }
        }
      }

      &__box {
        padding-left: 5%;

        @media screen and (max-width: 1024px) {
          //padding-left: 0px;
          width: 100%;
        }

        @media screen and (max-width: 768px) {
          padding-left: 0px;
        }
      }

      &__text {
        &__title {
          border-top: 1px solid #3e3e3e;
          border-bottom: 1px solid #3e3e3e;
          padding: 20px;

          @media screen and (max-width: 1024px) {
            &__box {
              .forest__introduction__contents__text__title {
                border-top: 1px solid #3e3e3e;
                border-bottom: 1px solid #3e3e3e;
                padding: 20px;
              }

              .forest__introduction__contents__text__contents {
                padding: 20px;

                h3 {
                  margin-bottom: 30px;
                }
              }
            }
          }
        }

        &__contents {

          h3 {
            font-size: 24px;
            font-family: "Noto Serif JP";
            font-weight: normal;
            padding-bottom: 50px;

            @media screen and (max-width: 425px) {
              font-size: 16px;
              padding-bottom: 5%;
            }
          }
          p {
     
            @media screen and (max-width: 425px) {
              font-size: 12px;
    
            }
          }
        }
      }

      // img {
      //   width: 50%;
      //   object-fit: cover;

      //   @media screen and (max-width: 1024px) {
      //     width: 100%;
      //   }
      // }

      &.reverse {
        flex-direction: row-reverse;
        width: 100%;

        .forest__introduction__contents__img {
          width: calc(40% + 360px);
          margin-right: -360px;

          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }

        @media screen and (max-width: 1024px) {
          flex-direction: row-reverse;

          img {
            padding-bottom: 10px;
            display: flex;
            margin-left: 0px;
            width: 40%;
            object-fit: cover;
          }
        }

        @media screen and (max-width: 768px) {
          flex-direction: column;

          img {
            width: 100%;
          }
        }

        .forest__introduction__contents__box {
          padding-right: 3%;
          width: 100%;
          margin-right: 17%;
          padding-right: 17%;

          @media screen and (max-width: 1024px) {
            margin-right: 2%;
            padding-right: 3%;
          }

          @media screen and (max-width: 768px) {
            margin-right: 2%;
            padding-right: 0%;
          }
        }

        // img {
        //   object-fit: cover;

        //   width: calc(40% + 360px);
        //   margin-right: -360px;
        // }
      }
    }
  }

  //Works
  .forest__works {
    width: 100%;
    //height: 100vh;
    background-image: url(img/access-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }

    @media screen and (max-width: 640px) {
      display: none;
    }

    .forest__container {
      padding-top: 100px;
      max-width: 1200px;
      margin: 50px auto;
      justify-content: space-between;
      display: flex;
      align-items: center;
      column-gap: 3rem;
      margin-bottom: 100px;

      &::before {
        content: "";
        display: block;
        padding-left: 10px;
        width: 50px;
        height: 1px;
        background: #fff;
        position: absolute;
        margin-top: -134px;
        margin-right: 20px;
      }

      span {
        color: white;
        margin-left: 70px;
      }

      h2 {
        color: #fff;
        margin-top: 30px;
        font-family: Noto Serif JP;
        font-size: 32px;
        font-weight: normal;
      }
    }

    .section-works__slider-wrap {
      //border: 1px solid blue;
      margin: 0px auto;
      position: relative;
      padding-bottom: 150px;
      margin-top: -125px;
    }

    .section-works__slider {
      display: none;
      width: 100%;
      margin: 0px auto;
      overflow: hidden; //!!!!!
    }

    .section-works__slider.slick-initialized {
      display: block;
    }

    .section-works__slider .slide-arrow {
      position: absolute;
      bottom: -25px;
      right: 0;
      width: 56px;
      height: 56px;
      cursor: pointer;
      z-index: 999;
    }

    .section-works__slider .slide-arrow.next-arrow {
      right: calc((100% - 1070px) / 2);
      background: url(img/icon_arw_next.svg) no-repeat center center / contain;
      bottom: 120px;
    }

    .section-works__slider .slide-arrow.prev-arrow {
      right: calc((100% - 920px) / 2);
      background: url(img/icon_arw_prev.svg) no-repeat center center / contain;
      bottom: 120px;
    }

    .section-works__slider .slide-arrow.slick-disabled {
      opacity: 0.5;
    }

    .section-works__slider__dots {
      display: flex;
      margin: 120px auto 0;
      width: 100%;
      max-width: 950px;
      transform: translateX(-100px);
      justify-content: center;
      border-radius: 4px;
      overflow: hidden;
      background: #fff;
    }

    .section-works__slider__dots li {
      text-indent: -9999px;
      width: 100%;
      height: 2px;
      pointer-events: none;
    }

    .section-works__slider__dots li>div {
      display: flex;
      background: #999;
      transition: transform 0.5s ease;
      overflow: hidden;
      height: 100%;
      transform: scaleX(1) translate3d(0, 0, 0);
      transform-origin: right;
    }

    .section-works__slider__dots li>div.slick-active {
      transform: scaleX(0) translate3d(0, 0, 0);

    }

    .section-works__slider__dots__num.no-transition {
      transition: none;
    }

    .section-works__slider__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 600px;
      height: 450px;
      display: inline-block;
      overflow: hidden;
      margin-left: 30px;
      object-fit: cover;
      padding-top: 80px;
      margin-left: 200px;
      opacity: .5;

      &.slick-slide {
        //transition: 0.5s;

        &.slick-current {
          // transform: scale(1.3);
          // opacity: 1.4;
        }
      }

      &__img>img {
        color: #fff;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @media screen and (max-width: 1024px) {
      .section-works__slider__dots {
        width: 70%;
        position: relative;
        bottom: 10px;
      }

      .section-works__slider .slide-arrow.next-arrow {
        right: calc((100% - 900px) / 2);
        background: url(img/icon_arw_next.svg) no-repeat center center / contain;
        bottom: 8px;
      }

      .section-works__slider .slide-arrow.prev-arrow {
        position: absolute;
        right: calc((100% - 750px) / 2);
        background: url(img/icon_arw_prev.svg) no-repeat center center / contain;
        bottom: 8px;
      }
    }

    @media screen and (max-width: 640px) {
      .section-works__slider__dots {
        width: 70%;
        position: relative;
        bottom: 10px;
      }

      .section-works__slider .slide-arrow.prev-arrow {
        right: calc((100% - 450px) / 2);
        background: url(img/icon_arw_prev.svg) no-repeat center center / contain;
        bottom: 8px;
      }

      .section-works__slider .slide-arrow.next-arrow {
        right: calc((100% - 600px) / 2);
        background: url(img/icon_arw_next.svg) no-repeat center center / contain;
        bottom: 8px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .forest__works {
      height: 100vh;
    }

    .forest__container {
      padding: 3%;
    }

    .section-works__slider {
      position: relative;
      bottom: 230px;
    }

    .section-works__slider__dots {
      width: 70%;
      position: relative;
      bottom: 30px;
    }

    .section-works__slider__dots {
      width: 30px;
    }

    .slick-initialized {
      height: 600px;
    }
  }

  @media screen and (max-width: 640px) {
    .forest__works {
      height: 110vh;
    }

    .forest__container {
      padding: 3%;
    }

    .section-works__slider {
      position: relative;
      bottom: 230px;
    }

    .section-works__slider__dots {
      width: 70%;
      position: relative;
      bottom: 30px;
    }

    .section-works__slider__dots {
      width: 30px;
    }

    .slick-initialized {
      height: 600px;
    }
  }

  //Company
  .forest__company {
    background-color: #343c3a;
    width: 100%;
    height: 80%;
    display: inline-block;

    &__container {
      padding-top: 100px;
      padding-bottom: 100px;
      max-width: 1200px;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      column-gap: 3rem;
      margin-bottom: 60px;

      @media screen and (max-width: 1024px) {
          padding: 4%;
          margin-bottom: 0px;
      }
  
      @media screen and (max-width: 640px) {
          margin-bottom: 0px;
          padding: 3%;
      }
      @media screen and (max-width: 425px) {
        margin-bottom: 10%;
  
    }
    }

    &__header {
      padding-bottom: 50px;

      &::before {
        content: "";
        display: block;
        padding-left: 10px;
        width: 50px;
        height: 1px;
        background: #fff;
        position: absolute;
        margin-top: 10px;
        margin-right: 20px;
      }

      span {
        color: white;
        margin-left: 70px;
      }

      h2 {
        color: #fff;
        margin-top: 30px;
        font-family: Noto Serif JP;
        font-size: 32px;
        font-weight: normal;
        @media screen and (max-width: 425px) {
          font-size: 18px;
        
        }
      }
    }

    &__table {
      width: 100%;
      border-top: 1px solid #fff;
      margin-top: 30px;

      &__row {
        display: flex;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-family: Noto Serif JP;
        font-size: 16px;
        line-height: 2;
        padding: 3% 0px;

        @media screen and (max-width: 768px) {
          font-size: 14px;
          line-height: 2;
        }

        @media screen and (max-width: 640px) {
          font-size: 14px;
          line-height: 2;
        }
        @media screen and (max-width: 425px) {
          font-size: 12px;
        }

        &__title {
          width: 150px;
          @media screen and (max-width: 640px) {
            width: 100px;
          }
          @media screen and (max-width: 425px) {
            width: 70px;
          }
        }

        &__contents {}
      }
    }

  }

  //Staff
  .forest__staff {
    background-color: #343c3a;
    width: 100%;
    height: 80%;

    &__container {
      padding-top: 40px;
      padding-bottom: 130px;
      max-width: 1200px;
      margin: auto;
      justify-content: space-between;
      align-items: center;
    }

    &__header {
      padding-bottom: 50px;

      &::before {
        content: "";
        display: block;
        padding-left: 10px;
        width: 50px;
        height: 1px;
        background: #fff;
        position: absolute;
        margin-top: 10px;
        margin-right: 20px;
      }

      span {
        color: #fff;
        margin-left: 70px;
      }

      h2 {
        color: #fff;
        margin-top: 30px;
        font-family: Noto Serif JP;
        font-size: 32px;
        font-weight: normal;

        @media screen and (max-width: 425px) {
          font-size: 18px;
        }
      }
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;

    }

    &__post {


      &__pic {

        img {
          width: 90%;
          height: 350px;
          object-fit: cover;

          @media screen and (max-width: 1024px) {
            height: 300px;
          }

          @media screen and (max-width: 768px) {
            height: 240px;
          }

          @media screen and (max-width: 640px) {
            height: 300px;
          }

        }
      }

      &__txt {
        color: #fff;
        font: normal 14px/2 "Noto Serif JP";
        padding-top: 20px;

        h3 {
          font-weight: normal;
        }

        h4 {
          font: bold 16px/2 "Noto Serif JP";
          font-weight: normal;
        }

        p {
          color: #999;
        }
      }

      &__txt {
        font: normal 16px/2 "Noto Serif JP";
      }
    }

    @media screen and (max-width: 1024px) {

      .forest__staff__container {
        padding: 3%;
      }

      .forest__staff__wrapper {
        display: flex;
        overflow: hidden;
        gap: 20px;
      }

      .forest__staff__post {
        object-fit: cover;
      }

      .forest__staff__post__pic__img {
        width: 100%;

        @media screen and (max-width: 640px) {
          height: 400px;
        }
      }
    }

    @media screen and (max-width: 640px) {
      .forest__staff__container {
        padding: 3%;
      }

      .forest__staff__wrapper {
        display: block;
        padding-right: 0px;
      }

      .forest__staff__post {
        width: 400px;
        margin: 0 auto;
      }

      .forest__staff__post__txt {
        padding-top: 0px;
      }

      p {
        padding-bottom: 20px;
        font-size: 14px;
      }
    }
  }

  //Access
  .forest__access {
    width: 100%;
    height: 750px;
    background-image: url(img/access-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      width: 100%;
      height: 100%;
    }

    &__container {
      display: flex;
      //flex-direction: column;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      @media screen and (max-width: 640px) {
        width: 100%;
        height: 100%;
      }

      &__map {
        width: 50%;
        height: 750px;

        @media screen and (max-width: 1024px) {
          width: 50%;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
          height: 500px;
        }
        @media screen and (max-width: 640px) {
          width: 100%;
        }
      }


      &__txt {
        padding: 50px 0 64px 80px;

        @media screen and (max-width: 1024px) {
          padding: 30px;
        }

        &__header {
          padding-bottom: 30px;
          margin-top: 30px;

          &::before {
            content: "";
            display: block;
            padding-left: 10px;
            width: 50px;
            height: 1px;
            background: #fff;
            position: absolute;
            margin-top: 10px;
            margin-right: 20px;
          }

          span {
            color: #fff;
            margin-left: 70px;
          }

          h2 {
            color: #fff;
            margin-top: 20px;
            font-family: Noto Serif JP;
            font-size: 32px;
            font-weight: normal;
            @media screen and (max-width: 425px) {
              font-size: 18px;
            }
          }
        }

        p {
          font-family: Noto Serif JP;
          font-size: 14px;
          font-weight: normal;
          line-height: 2;

          @media screen and (max-width: 425px) {
            font-size: 12px;
          }
        }

        &__img {
          margin-top: 20px;
          width: 400px;

          @media screen and (max-width: 768px) {
            width: 100%;
          }

          @media screen and (max-width: 640px) {
            margin-top: 20px;
            width: 100%;
          }
        }
      }
    }
  }

  //Footer
  .forest__footer {
    background-color: #eeeeee;

    &__container {
      display: flex;
      align-items: center;
      //justify-content: center;
      padding-top: 100px;

      @media screen and (max-width: 1024px) {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__logo {
      margin-right: 200px;

      @media screen and (max-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }

      &__img {
        margin-left: 20%;
        width: 200px;
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      padding-left: 10%;
      margin-left: 50px;

      @media screen and (max-width: 1024px) {
        margin-top: 50px;
        padding-left: 0px;
        margin-left: 0px;
      }

      &__list {
        display: flex;
        align-items: center;
        gap: 30px;

        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }
      }

      &__item {
        margin-left: 20px;

        a {
          font: bold 16px/2 "Noto Serif JP";
          color: #343c3a;
          font-weight: normal;
        }
      }
    }

    .forest__footer__copy {
      margin-top: 200px;
      padding-bottom: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Noto Serif JP";
      font-size: 16px;
      font-weight: normal;
      color: #343c3a;

      @media screen and (max-width: 640px) {
        font-size: 14px
      }
      @media screen and (max-width: 425px) {
        font-size: 12px;
        margin-top: 10%;
        padding-bottom: 5%;

      }
    }
  }
}