@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif+JP&family=Zen+Kaku+Gothic+New:wght@400;500;700;900&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;


  .logo {
    margin-left: 20px;
    width: 20%;

    &__img {
      width: 70%;
      margin-top: 10px;
      margin-left: 50px;
    }
  }
}

.forest__nav {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 10%;

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__item {
    &__link {
      color: #fff;
      margin-right: 80px;
      font: normal 16px/1 "Noto Serif JP";
    }
  }
}

.forest__nav__toggle {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;

  &__ham {
    cursor: pointer;
    display: none;
    font-size: 20px;
    border: 1px solid red;
  }
}

@media screen and (max-width: 1024px) {

  // .logo {
  //   width: 100%;
  //   border: 1px solid red;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .logo__img {
  //   width: 100%;
  //   border: 1px solid pink;
  //   margin-right: 20%;

  // }

  .forest__nav__list {
    display: none;
  }

  .forest__nav__toggle {
    border: 3px solid blue;
    right: 4vw;
    display: block;
  }

  .forest__nav__toggle__ham {
    border: 3px solid blue;
    display: block;
  }
}

body {

  //main
  .forest__main {
    width: 100%;
    height: 100vh;
    background-image: url(img/pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__scroll {
      display: flex;
      justify-content: center;
      color: #fff;
      width: 10px;
      height: 150px;
      border: 1px solid yellow;
      position: absolute;
      right: 7%;
      bottom: 7%;
    }
  }

  @media screen and (max-width: 1024px) {
    .forest__main {
      right: 4vw;
      flex-wrap: wrap;
    }
  }

  //what is
  .forest__what-is {
    width: 100%;
    background-image: url(img/vision-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;

    .forest__container {
      max-width: 1200px;
      margin: auto;
      justify-content: space-between;
      display: flex;
      align-items: center;
      column-gap: 3rem;
    }

    &__text {
      width: 50%;
      color: #fff;

      &::before {
        content: "";
        display: block;
        padding-left: 10px;
        width: 50px;
        height: 1px;
        background: #fff;
        position: absolute;
        margin-top: 10px;
        margin-right: 20px;
      }

      span {
        color: white;
        margin-left: 70px;
      }

      h2 {
        color: #fff;
        margin-top: 50px;
        font: bold 30px/1.3 "";
      }

      p {
        margin-top: 50px;
        font: normal 15px/2 "Noto Serif JP";
      }
    }

    &__image {
      width: 771px;

      &__img {
        width: 100%;
        margin: 44px 0px 44px 70px;
      }
    }

    @media screen and (max-width: 1024px) {
      .forest__what-is__text {
        width: 1000px;
        padding: 60px;

      }

      .forest__what-is__image {
        margin-right: 45px;
      }

      .forest__what-is__image__img {
        width: 80%;

      }
    }
  }

  //Features
  .forest__features {
    width: 100%;
    background-image: url(img/features-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: inline-block;

    &__box {
      max-width: 1200px;
      margin: auto;
      justify-content: space-between;
      //display: flex;
      align-items: center;
      column-gap: 3rem;
      padding-top: 100px;
      margin-bottom: 60px;

      &::before {
        content: "";
        display: block;
        padding-left: 10px;
        width: 50px;
        height: 1px;
        background: #fff;
        position: absolute;
        margin-top: 10px;
        margin-right: 20px;
      }

      span {
        color: white;
        margin-left: 70px;
      }

      h2 {
        color: #fff;
        margin-top: 50px;
        font: bold 30px/1.3 "";
      }
    }

    &__header {
      margin-bottom: 60px;
    }

    &__container {
      &:nth-of-type(2) .forest__features__contents {
        flex-direction: row-reverse;

        .forest__features__contents__img {
          padding-left: 50px;

          .forest__features__contents__image {
            object-fit: contain;
            position: relative;
            top: 0px;
          }
        }
      }

      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      flex-direction: row-reverse;
    }

    &__contents {
      display: flex;
      position: relative;
      padding-bottom: 50px;

      &__img {
        width: 100%;
      }

      &__image {
        width: 100%;
        padding-right: 50px;
      }

      &__text {}
    }

    &__text__inner {

      &__header {
        font: normal 16px/2 "Noto Serif JP";
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #fff;

        &__number {
          width: 100%;
          padding-right: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 140px;
          border-right: 1px solid #fff;
        }
      }

      &__title {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 140px;
      }

      &__contents {
        padding: 20px;
        font: normal 14px/2 "Noto Serif JP";
      }

      &__image {
        display: flex;

        img {
          margin: 70px;
          width: 300px;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .forest__features__box {
        padding: 60px;
        margin-bottom: 0px;
      }

      .forest__features__container {


        &:nth-of-type(2) .forest__features__contents {
          flex-direction: column;

          .forest__features__contents__img {
            padding-left: 0px;
          }
        }
      }

      .forest__features__contents {
        flex-direction: column;
      }

      .forest__features__contents__image {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 30px;
      }
      .forest__features__text__inner__header__number{
        padding-right: 80px;
      }

      .forest__features__text__inner__image {

        &.reverse {
          display: flex;
          flex-direction: row-reverse;
        }

        img {
          margin: 0px;
          padding: 30px 0px;
        }
      }
    }
  }

  //Business Introduction
  .forest__introduction {
    width: 100%;
    background: #fff;
    color: #3e3e3e;
    position: relative;
    display: inline-block;

    .forest__container {
      padding-top: 100px;
      max-width: 1200px;
      margin: auto;
      justify-content: space-between;
      display: flex;
      align-items: center;
      column-gap: 3rem;


      &::before {
        content: "";
        display: block;
        padding-left: 10px;
        width: 50px;
        height: 1px;
        background: #3e3e3e;
        position: absolute;
        margin-top: -90px;
        margin-right: 20px;
      }

      span {
        color: #3e3e3e;
        margin-left: 70px;
      }

      h2 {
        color: #3e3e3e;
        margin-top: 50px;
      }
    }

    &__wrap {
      padding: 120px;

    }

    &__contents {
      display: flex;
      margin-bottom: 70px;
      padding-bottom: 60px;

      &.reverse {
        flex-direction: row-reverse;

        img {
          margin-left: 100px;
        }
      }

      img {
        width: 40%;
      }

      &__box {
        padding-left: 30px;
        font: normal 16px/2 "Noto Serif JP";

        .forest__introduction__contents__text__title {
          border-top: 1px solid #3e3e3e;
          border-bottom: 1px solid #3e3e3e;
          padding: 20px;
        }

        .forest__introduction__contents__text__contents {
          padding: 20px;

          h3 {
            margin-bottom: 30px;
          }
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .forest__container {

        padding: 60px;
      }

      .forest__introduction__wrap {
        padding: 60px;

        .forest__introduction__contents {
          flex-direction: column;
          margin-bottom: 0px;

          img {
            width: 100%;
          }
          &.reverse {
            img {
              margin-left: 0px;
            }
          }

        }
        .forest__introduction__contents__box {
          margin-top: 30px;
          padding-left: 0px;
        }
      }
    }
  }

  //Works
  .forest__works {
    width: 100%;
    height: 130vh;
    background-image: url(img/access-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;

    .forest__container {
      padding-top: 100px;
      max-width: 1200px;
      margin: 50px auto;
      justify-content: space-between;
      display: flex;
      align-items: center;
      column-gap: 3rem;
      margin-bottom: 100px;

      &::before {
        content: "";
        display: block;
        padding-left: 10px;
        width: 50px;
        height: 1px;
        background: #fff;
        position: absolute;
        margin-top: -146px;
        margin-right: 20px;
      }

      span {
        color: white;
        margin-left: 70px;
      }

      h2 {
        color: #fff;
        margin-top: 50px;
      }
    }

    .section-works__slider-wrap {

      margin: 0px auto;
      position: relative;
    }

    .section-works__slider {
      display: none;
      width: 100%;
      margin: 0px auto;
      overflow: hidden; //!!!!!

    }

    .section-works__slider.slick-initialized {
      display: block;
    }

    .section-works__slider .slide-arrow {
      position: absolute;
      bottom: -25px;
      right: 0;
      width: 56px;
      height: 56px;
      cursor: pointer;
      z-index: 999;
    }

    .section-works__slider .slide-arrow.next-arrow {
      right: calc((100% - 1070px) / 2);
      background: url(img/icon_arw_next.svg) no-repeat center center / contain;
    }

    .section-works__slider .slide-arrow.prev-arrow {
      right: calc((100% - 920px) / 2);
      background: url(img/icon_arw_prev.svg) no-repeat center center / contain;
    }

    .section-works__slider .slide-arrow.slick-disabled {
      opacity: 0.5;

    }

    .section-works__slider__dots {
      display: flex;
      margin: 120px auto 0;
      width: 100%;
      max-width: 950px;
      transform: translateX(-100px);
      justify-content: center;
      border-radius: 4px;
      overflow: hidden;
      background: #fff;
    }

    .section-works__slider__dots li {
      text-indent: -9999px;
      width: 100%;
      height: 2px;
      pointer-events: none;
    }

    .section-works__slider__dots li>div {
      display: flex;
      background: #999;
      transition: transform 0.5s ease;
      overflow: hidden;
      height: 100%;
      transform: scaleX(1) translate3d(0, 0, 0);
      transform-origin: right;
    }

    .section-works__slider__dots li>div.slick-active {
      transform: scaleX(0) translate3d(0, 0, 0);

    }

    .section-works__slider__dots__num.no-transition {
      transition: none;
    }

    .section-works__slider__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 600px;
      height: 450px;
      display: inline-block;
      overflow: hidden;
      margin-left: 30px;
      object-fit: cover;
      padding-top: 80px;
      margin-left: 200px;
      opacity: .5;

      &.slick-slide {
        transition: 0.5s;

        &.slick-current {
          transform: scale(1.3);
          opacity: 1.4;
        }
      }

      &__img>img {
        color: #fff;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @media screen and (max-width: 1024px) {
      .forest__container {
        padding: 60px;
      }

      .section-works__slider .slide-arrow.next-arrow {
        right: calc((100% - 750px) / 2);
        background: url(img/icon_arw_next.svg) no-repeat center center / contain;
      }

      .section-works__slider .slide-arrow.prev-arrow {
        right: calc((100% - 600px) / 2);
        background: url(img/icon_arw_prev.svg) no-repeat center center / contain;
      }

      .section-works__slider {
        width: 70%;
      }

      .section-works__slider__dots {
        width: 90%;
        padding-left: px;
      }
    }
  }

  //Company
  .forest__company {
    background-color: #343c3a;
    width: 100%;
    height: 80%;
    display: inline-block;

    &__container {
      padding-top: 100px;
      padding-bottom: 100px;
      max-width: 1200px;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      column-gap: 3rem;
      margin-bottom: 100px;
    }

    &__header {
      padding-bottom: 50px;

      &::before {
        content: "";
        display: block;
        padding-left: 10px;
        width: 50px;
        height: 1px;
        background: #fff;
        position: absolute;
        margin-top: 10px;
        margin-right: 20px;
      }

      span {
        color: white;
        margin-left: 70px;
      }

      h2 {
        color: #fff;
        margin-top: 50px;
      }
    }

    &__table {
      width: 100%;
      border-top: 1px solid #fff;

      &__row {
        display: flex;
        border-bottom: 1px solid #fff;
        color: #fff;
        font: normal 17px/2 "Noto Serif JP";

        &__title {
          padding: 20px;
          width: 150px;
        }

        &__contents {
          padding: 20px;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .forest__company__container {
        padding: 60px;
        margin-bottom: 0px;
      }
    }
  }

  //Staff
  .forest__staff {
    background-color: #343c3a;
    width: 100%;
    height: 80%;

    &__container {
      padding-top: 40px;
      padding-bottom: 100px;
      max-width: 1200px;
      margin: auto;
      justify-content: space-between;
      align-items: center;
    }

    &__header {
      padding-bottom: 50px;

      &::before {
        content: "";
        display: block;
        padding-left: 10px;
        width: 50px;
        height: 1px;
        background: #fff;
        position: absolute;
        margin-top: 10px;
        margin-right: 20px;
      }

      span {
        color: #fff;
        margin-left: 70px;
      }

      h2 {
        color: #fff;
        margin-top: 50px;
      }
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__post {

      &__pic {
        img {
          width: 300px;
          height: 350px;
          object-fit: cover;
        }
      }

      &__txt {
        color: #fff;
        font: normal 14px/2 "Noto Serif JP";
        padding-top: 20px;

        h4 {
          font: bold 16px/2 "Noto Serif JP";
        }

        p {
          color: #999;
        }
      }

      &__txt {
        font: normal 17px/2 "Noto Serif JP";
      }
    }

    @media screen and (max-width: 1024px) {
      .forest__staff__container {
        padding: 60px;
      }

      .forest__staff__wrapper {
        display: flex;
        overflow: hidden;
        padding-right: 20px;
      }

      .forest__staff__post {
        margin-left: 20px;
        object-fit: cover;
      }

      .forest__staff__post__pic {
      }

      .forest__staff__post__pic__img {
        width: 100%;
      }
    }
  }

  //Access
  .forest__access {
    width: 100%;
    height: 750px;
    background-image: url(img/access-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;

    &__container {
      display: flex;
      display: grid;
      grid-template-columns: 1fr 1fr;

      &__map {
        width: 100%;
        height: 750px;
      }

      &__txt {
        margin-left: 20px;
        padding: 64px 0 64px 80px;

        &__header {
          padding-bottom: 50px;
          margin-top: 30px;

          &::before {
            content: "";
            display: block;
            padding-left: 10px;
            width: 50px;
            height: 1px;
            background: #fff;
            position: absolute;
            margin-top: 10px;
            margin-right: 20px;
          }

          span {
            color: #fff;
            margin-left: 70px;
          }

          h2 {
            color: #fff;
            margin-top: 50px;
          }
        }

        p {
          font: normal 14px/2 "Noto Serif JP";
        }

        &__img {
          margin-top: 20px;
          width: 400px;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .forest__access__container__txt {
        padding: 30px;
      }
    }
  }

  //Footer
  .forest__footer {
    background-color: #eeeeee;

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 100px;
    }

    &__logo {
      margin-right: 200px;

      &__img {
        width: 200px;
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      padding-left: 10%;
      margin-left: 50px;

      &__list {
        display: flex;
        align-items: center;
        gap: 30px;
      }

      &__item {
        margin-left: 20px;

        a {
          font: bold 16px/2 "Noto Serif JP";
          color: #343c3a;
        }
      }
    }

    .forest__footer__copy {
      margin-top: 80px;
      padding-bottom: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font: bold 16px/2 "Noto Serif JP";
      color: #343c3a;
    }
  }

  @media screen and (max-width: 1024px) {

    .forest__footer__container {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .forest__footer__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      
      
    }

    .forest__footer__nav {
      margin-top: 50px;
      padding-left: 0px;
      margin-left: 0px;
    }
  }
}